
footer {
	color: black;
	position: relative;
	background: #212121;
	padding-top: 20px;
	padding-bottom: 20px;
	
	span {
		position: absolute;
		left: 160px;
		font-size: 14px;
		line-height: 40px;
		color: #555555;
		font-family: "Montserrat";
		
		
	}
	
	@media (max-width: 1090px) {
		margin-top: -30px;
		
		span {
			left: 0;
			right: 0;
			top: 55px;
		}	
	}
}

