#home{
  height: calc(100vh + 50px);
  min-height: 600px;
  max-height: 1375px;
  color: white;
  padding-top: 0;
  background: 
		url("../images/Background Image 1.jpg"), 
		linear-gradient(180deg, rgba(255, 255, 255, 0) 100vh, rgb(33, 33, 33) 100%);
  background-position: center top;
  background-size: cover;
  background-blend-mode: hue;


	.content {
		//margin-top: calc(100px + 20vh);
		position: absolute;
		top: calc(50vh - 10%);
		left: 0;
		right: 0;
		padding: 30px;
		max-width: max-content;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 25px;
	}
	
	.content * {
		font-size: 22px !important;
	}
}


