
#portfolio {
	padding-bottom: 75px;
	
	.items {
		display: flex;
		//max-width: 1200px;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		
		.item {
			background-color: #acc5ff;
			background-color: rgb(138, 136, 97);
			width: 500px;
			//margin: auto;
			//margin-bottom: 50px;
			margin: 3vw;
			transition: 0.5s;
			
			.img_container {
				overflow: hidden;
				position: relative;
				padding-top: 56%;
				
				img {
					width: 100%;
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
				}
				
				.overlay{
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					background-color:	rgba(0, 0, 0, 0.6);
					opacity: 0;
					transition: 1s;
					a {
						background-color: white;
						border-radius: 20%;
						position: relative;
						top: calc(50% - 12.5px);
						margin: 0 5% 0 5%;
						cursor: pointer;
						font-size: 20px;
						padding: 5px;
						color: #f7deb1;
						transition: 0.4s;
						
						* {
							font-size: inherit;
						}
						&:hover {
							box-shadow: 0 0 10px 3px;
						}
						&:nth-child(1){
							background-color: #262626;
						}
						
						&:nth-child(2){
							background-color: #9f1d1d;
						}
					}
				}
			}
			&:hover {
				transform: scale(1.2);
				.overlay{
					opacity: 1;
				}
			}
			
			b {
				font-size: 18px;
				letter-spacing: 0px;
				color: #333333;
				font-family: "Montserrat";
				line-height: 70px;
			}
			
			p {
				font-size: 14px;
				color: #464646;;
				font-family: "Droid Serif";
				font-style: italic;
				margin-bottom: 25px;
				margin-top: -23px;
			}
		}
	}
}
